.logo {
  width: 100%;
  text-align: center;
}

.pinBox {
  max-width: 320px;
  .removeScroll {
    --background: white;
    text-align: center;
  }
}
.marTop20 {
  margin-top: 7px;
}
.native-input[disabled] {
  opacity: 0.7 !important;
}
.marTop60 {
  margin-top: 60px;
}
.padd {
  padding: 20px 16vw;
}
ion-item {
  border-bottom: none !important;
}
.padd10 {
  padding: 5px 10px;
}

.width {
  // min-width: 400px;
  max-width: 600px;
}
.recaptcha {
  margin-top: 35px;
  margin-left: 10px;
}

.border-primary {
  border: 1px solid var(--ion-color-primary) !important;
}

.loginCard {
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.max500 {
  max-width: 500px;
}
