<app-header showBackButton="false"></app-header>

<ion-content class="ion-padding">


  <h3 class="onPageTitle">
    <b>{{"Choose Password"|translate}}</b>
  </h3>

  <ion-card class="changePwdCard ">
    <ion-card-content>
      <ion-grid>
        <ion-row class="marTop20 padd10">
          <ion-label> <b>{{"Password length must be greater than 5 characters"|translate}} </b></ion-label>
        </ion-row>
        <ion-row class="marTop20 padd10">
          <ion-label class="label required"> <b> {{"New Password"|translate}} </b></ion-label>
        </ion-row>
        <ion-row class="padd10">
          <ion-col>
            <ion-input type="password" name="password" [(ngModel)]="password" class="bgLightBlue border tal input"
              maxlength="20">
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-row class="marTop20 padd10">
          <ion-label class="label required"> <b>{{"Verify Password"|translate}} </b></ion-label>
        </ion-row>
        <ion-row class="padd10">
          <ion-col>
            <ion-input class="input" type="password" name="password" [(ngModel)]="verifyPassword"
              placeholder="Verify password" maxlength="20"></ion-input>
          </ion-col>
        </ion-row>
        <div color="primary" (click)="Update()" class="mt25">
          <ion-button expand="block" type="submit"
            [ngClass]="_companyService.productListing == 'grid'? 'round-button v2Btn fr': 'fr'"
            [disabled]="buttonDisabled">
            <ion-spinner *ngIf="buttonDisabled" slot="start"></ion-spinner>
            {{"Update"|translate}}
          </ion-button>
        </div>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>