.paddleft {
  padding-left: 10px !important;
}
.cardHeader {
  font-weight: bold;
  font-size: 16px;
}
.bold {
  font-weight: bold;
  font-size: 14px;
}
.wrapper {
  grid-auto-rows: auto !important;
}
.box {
  height: max-content !important;
  padding: 10px 0px !important;
}
ion-select {
  padding: 0px !important;
}
.searchPad {
  padding: 20px;
}
.maxWidth {
  max-width: 350px;
}
.addButton {
  padding-bottom: 28px;
}

// .cardWidth {
//   max-width: 60vw;
// }
.button {
  // max-width: 150px;
  float: right;
  width: 100%;
}
.pageStartData {
  margin-top: -50px;
}
.buttonTop {
  float: right;
  width: auto;
  min-width: 190px;
}
.mbLastRow {
  margin-bottom: 15px;
}
@media screen and (max-width: 990px) {
  .buttonTop {
    float: right;
    width: 100%;
  }
  .pageStartData {
    margin-top: 0px;
  }
  .mbLastRow {
    margin-bottom: 0px;
  }
}

.marginTop {
  margin-top: 15px;
}
ion-card-header {
  background: #f0f2f3;
}
.myShoppingBag {
  font-size: 18px;
  font-weight: 600;
}
.itemName {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
.pr5 {
  padding-right: 5px;
}
.priceHeader {
  font-size: 12px;
  font-weight: 600;
}
.priceDetail-base-total {
  font-weight: 600;
  font-size: 15px;
  padding-top: 16px;
}
.addressHeader {
  font-size: 16px;
  font-weight: 600;
}
.f13p {
  font-size: 13px;
}
ion-radio {
  --color-checked: #03a685;
}
.selectedAddress {
  border: 1px solid #b9f0e5;
  background: #b9f0e5 !important;
}
.selectDeliveryAddress {
  font-size: 17px;
  font-weight: 600;
}
.h250 {
  height: 250px;
}
.custList {
  margin: 10px;
  font-weight: normal;
}

.maxw800 {
  max-width: 800px;
  margin: auto;
}
.fw600 {
  font-weight: 600;
}
.selectBlue {
  color: #526cd0;
}
.removeMoveToWishList {
  text-transform: uppercase;
  font-weight: 600;
  color: #696b79;
  font-size: 13px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
  --color-activated: #696b79;
  --color-focused: #696b79;
}
.textAboveButton {
  font-size: 14px;
  color: #696b79;
}
.marTop10 {
  margin-top: 10px;
}
@media only screen and (max-width: 500px) {
  #fadeshow,
  #fadeshow2,
  #fadeshow4 {
    display: none;
    visibility: hidden;
  }
  #fadeshow1,
  #fadeshow3,
  #fadeshow5 {
    display: block;
    visibility: visible;
  }
  ion-card,
  .cardMaxWidth {
    // max-width: 355px;
    width: -webkit-fill-available;
  }
}
@media only screen and (min-width: 501px) {
  #fadeshow1,
  #fadeshow3,
  #fadeshow5 {
    display: none;
    visibility: hidden;
  }
  ion-card,
  .cardMaxWidth {
    // max-width: 632px;
    width: -webkit-fill-available;
  }
}
.discount {
  position: absolute;
  padding: 3px 15px;
  right: 0;
}
