<!-- <ion-item>
  <ion-label>{{ to.label }}</ion-label>
  <ionic-selectable
    item-content
    [(ngModel)]="selected"
    [items]="to.options"
    [formControl]="formControl"
    itemValueField="value"
    itemTextField="label"
    [canSearch]="true"
    (onChange)="change($event)"
    (onInfiniteScroll)="getMorePorts($event)"
    [hasInfiniteScroll]="true"
    (onSearch)="searchItem($event)"
  >
    <ng-template ionicSelectableMessageTemplate *ngIf="to.search">
      Please search here (min. 3 characters),
    </ng-template>
  </ionic-selectable>
</ion-item> -->
