.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
  text-align:left;
}

.submit-btn {
  margin-top: 15px;
}

.width{
    min-width: 400px;
    max-width: 600px;
}
.frm
{
	text-align:-webkit-center;
}

.loginHeader{
  height: 45px;
  text-align: center;
  letter-spacing: 0px;
  color: #555555;
  opacity: 1;
  font-size: 20px;
  text-transform: capitalize;
}

.mobileInput{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #A9A9A9;
  border-radius: 7px;
  opacity: 1;
 }
