.pIcon {
    float: right;
}
.font {
    font-weight: bold;
    font-size: 36px;
}
.top-bottom-mar {
    margin-top: 0;
    margin-bottom: 0;
}
.txt {
    font-weight: bold;
    font-size: 16px;
}
.remove-cart-link{
    font-size: 8px;
    color: #707070;
}
.mb0{
    margin-bottom: 0;
}

