<app-header *ngIf="!hideBackButton" showBackButton="true"></app-header>
<app-header *ngIf="hideBackButton" showBackButton="false"></app-header>
<ion-content>
  <div class="contentDiv">
    <ion-row>
      <ion-col class="onPageTitle">
        Saved Searches
      </ion-col>
    </ion-row>

    <div class="noDataMsg mar10" *ngIf="((allData && allData.length == 0) || !allData) && allData != null ">
      You didn't saved any searches yet!!
    </div>
    <!-- skeleton -->
    <ion-row *ngIf="allData == null || allData == undefined">
      <ion-col size="12" size-lg="6" offset-lg="3" size-md="6" offset-md="3" size-sm="8" offset-sm="2">
        <ion-card class="mar10 " *ngFor="let data of _configService.arrayOne(10)">
          <ion-card-header class="cardHeader" [ngClass]="onMobile ? 'padd15' : ''">
            <ion-row>
              <ion-col size="12">
                <ion-label class="bold fs18">
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-label>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-label>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </ion-label>
              </ion-col>
              <!-- <ion-col size="12">
                <div class="fr">
                  <ion-skeleton-text class="w105-skel" animated ></ion-skeleton-text>
                </div>
              </ion-col>             -->
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- end -->

    <ion-row *ngIf="!!allData && allData.length > 0">
      <ion-col size="12" size-lg="6" offset-lg="3" size-md="6" offset-md="3" size-sm="8" offset-sm="2">
        <ion-card class="mar10 cursor" *ngFor="let dt of allData">
          <ion-card-header class="cardHeader" [ngClass]="onMobile ? 'padd15' : ''">
            <ion-row>
              <ion-col size="12">
                <!-- <ion-label>ORDER</ion-label><br /> -->
                <ion-label (click)="goToSearch(dt)" class="bold fs18">{{ dt.name }}</ion-label>
                <ion-icon name="close-circle" class="fr" color="danger" (click)="deleteItem(dt)"></ion-icon>
              </ion-col>
              <ion-col size="12" (click)="goToSearch(dt)">
                <ion-label>{{ dt.totalProducts }}</ion-label>
              </ion-col>
              <ion-col size="12" class="marPad0 fs14" (click)="goToSearch(dt)">
                <ion-label class="fr">{{ dt.addedOn | timeAgo }}</ion-label>
              </ion-col>
            </ion-row>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)"> -->
  <!-- <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."> </ion-infinite-scroll-content> -->
  <!-- </ion-infinite-scroll> -->
  <app-footer *ngIf="!hideFooter"></app-footer>
</ion-content>