.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
  text-align:left;
}

.submit-btn {
  margin-top: 40px;
}

.width{
    min-width: 400px;
    max-width: 600px;
}
.frm
{
	text-align:-webkit-center;
}