<ion-header>
  <ion-toolbar>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="block text">
    <div class="main padded">
      <h1 class="pagetitle">About Us</h1>
      <p>At atisundar, we are&nbsp;driven&nbsp;by beauty - in everything we do, in everything we are and in everything
        we create. With enormous passion, dedication and attention to even the minutest details, we envision, design,
        create and bring to you sarees, salwar kameez, kurti and dresses that make you look your angelic self.&nbsp;</p>
      <p>We believe that with atisundar you would feel "very beautiful, very me!"&nbsp;</p>
      <p>atisundar is a trademark of Kamal Rayon Private Limited.</p>
      <p>Kamal Rayon Private Limited is a group company of Kamal Textiles and has been incorporated recently to sell
        sarees and women apparel online.<br> <br> Kamal Textiles, as a group, had its very humble beginning in 1967 -
        starting with a small agency in Kanpur. Today, the group has presence in Kanpur, Delhi, Gorakhpur, Bhilwara,
        Bhiwandi, Mumbai, Ahmedabad and Surat.&nbsp;</p>
      <p><em><strong>With atisundar.com, we bring our expertise of over 4 decades, directly to you.&nbsp;</strong></em>
      </p>
      <p>Registered Head Office</p>
      <p>B 302 Regency Towers Dumas Road Piplod Surat Gujarat&nbsp;</p>
      <table style="width: 100%;" cellspacing="0" cellpadding="3">
        <tbody>
          <tr>
            <td><strong>Admin Office</strong></td>
            <td>1003, New Sardar Traders Market, Puna Kumbharia Road, Surat 395010 | Tel: 0261 2335300</td>
          </tr>
          <tr>
            <td><strong>Customer Support&nbsp;</strong></td>
            <td>service&#64;atisundar.com | +91 11 43850407&nbsp;</td>
          </tr>
          <tr>
            <td>
              <strong>Bulk Sales Inquiries</strong>&nbsp;</td>
            <td>bulk.sales&#64;atisundar.com&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>