<h3 class="onPageTitle" *ngIf="!showEditButton">
  <b> Add New Address </b>
</h3>
<h3 class="onPageTitle" *ngIf="showEditButton">
  <b> Update Address </b>
</h3>

<ion-grid class="width">
  <form [formGroup]="validations_formAddAdress" (ngSubmit)="onSubmit(validations_formAddAdress.value)" class="frm">
    <div class="width">
      <!-- <div class="w100 tal" *ngIf="!!companyTypes && companyTypes.length > 0">
        <ion-label color="primary">Which term describes your company</ion-label>
      </div>
      <div class="disWebkitInlineBox" *ngIf="!!companyTypes && companyTypes.length > 0">
        <div *ngFor="let para of companyTypes" [ngClass]="para.selected ? 'srchBoxSelected' : 'srchBox'" (click)="toggleSelection(companyTypes, para.name)">{{ para.name }}</div>
      </div> -->

      <!-- <div class="validation-errors">
		   <ng-container *ngFor="let validation of validation_messages.name">
			 <div class="error-message" *ngIf="validations_formAddAdress.get('name').hasError(validation.type) && (validations_formAddAdress.get('name').dirty || validations_formAddAdress.get('name').touched)">
			   <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
			 </div> 
		   </ng-container>
     </div>  -->
     <ion-item>
        <ion-label position="floating" color="primary">Phone</ion-label>
        <ion-input type="text" formControlName="phone"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.phone">
          <div class="error-message" *ngIf="validations_formAddAdress.get('phone').hasError(validation.type) && (validations_formAddAdress.get('phone').dirty || validations_formAddAdress.get('phone').touched)"><ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}</div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name">
          <div class="error-message" *ngIf="validations_formAddAdress.get('name').hasError(validation.type) && (validations_formAddAdress.get('name').dirty || validations_formAddAdress.get('name').touched)"><ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}</div>
        </ng-container>
      </div>
      
      <ion-item>
        <ion-label position="floating" color="primary">Zip code / Postal code</ion-label>
        <ion-input type="text" formControlName="zip" (ionBlur)="getAreaByZipCode()"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.zip">
          <div class="error-message" *ngIf="validations_formAddAdress.get('zip').hasError(validation.type) && (validations_formAddAdress.get('zip').dirty || validations_formAddAdress.get('zip').touched)"><ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}</div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Address</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.address">
          <div class="error-message" *ngIf="validations_formAddAdress.get('address').hasError(validation.type) && (validations_formAddAdress.get('address').dirty || validations_formAddAdress.get('address').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
      <!-- <ion-item>
        <ion-label position="floating" color="primary">Block</ion-label>
        <ion-input type="text" formControlName="block"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.block">
          <div class="error-message" *ngIf="validations_formAddAdress.get('block').hasError(validation.type) && (validations_formAddAdress.get('block').dirty || validations_formAddAdress.get('block').touched)"><ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}</div>
        </ng-container>
      </div> -->
      <ion-item>
        <ion-label position="floating" color="primary">Street</ion-label>
        <ion-input type="text" formControlName="street"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.street">
          <div class="error-message" *ngIf="validations_formAddAdress.get('street').hasError(validation.type) && (validations_formAddAdress.get('street').dirty || validations_formAddAdress.get('street').touched)"><ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}</div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">City</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.city">
          <div class="error-message" *ngIf="validations_formAddAdress.get('city').hasError(validation.type) && (validations_formAddAdress.get('city').dirty || validations_formAddAdress.get('city').touched)"><ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}</div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating" color="primary">State</ion-label>
        <ion-input type="text" formControlName="state"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.state">
          <div class="error-message" *ngIf="validations_formAddAdress.get('state').hasError(validation.type) && (validations_formAddAdress.get('state').dirty || validations_formAddAdress.get('state').touched)"><ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}</div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Country</ion-label>
        <ion-input type="text" formControlName="country"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.country">
          <div class="error-message" *ngIf="validations_formAddAdress.get('country').hasError(validation.type) && (validations_formAddAdress.get('country').dirty || validations_formAddAdress.get('country').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <!-- <ion-item>
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="validations_formAddAdress.get('email').hasError(validation.type) && (validations_formAddAdress.get('email').dirty || validations_formAddAdress.get('email').touched)"><ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}</div>
        </ng-container>
      </div> -->

      <!-- <ion-button class="submit-btn tac" type="submit" [disabled]="!validations_formAddAdress.valid">Save</ion-button> -->
      <ion-button *ngIf="!showEditButton" [ngClass]="_companyService.productListing == 'grid'? 'round-button v2Btn':'submit-btn tac'" class="submit-btn tac" type="submit" [disabled]="!validations_formAddAdress.valid"> <ion-spinner *ngIf="buttonDisabled" slot="start"></ion-spinner> Save </ion-button>
      <ion-button *ngIf="showEditButton" [ngClass]="_companyService.productListing == 'grid'? 'round-button v2Btn':'submit-btn tac'" type="submit" [disabled]="!validations_formAddAdress.valid"> <ion-spinner *ngIf="buttonDisabled" slot="start"></ion-spinner> Save Changes </ion-button>
    </div>
  </form>
</ion-grid>

<!-- <ion-grid class="width" *ngIf="!onMobile">
  <ion-row class="marTop20 padd10">
    <ion-label>Full Name</ion-label>
  </ion-row>
  <ion-row class="padd10">
    <ion-input class="input" type="text" name="Name" [(ngModel)]="Name" placeholder="Full Name"></ion-input>
  </ion-row>
  <ion-row class="marTop20 padd10">
    <ion-label>Mobile Number</ion-label>
  </ion-row>
  <ion-row class="padd10">
    <international-phone-number class="input w100" [(ngModel)]="Mobile" placeholder="Enter phone number" [maxlength]="100" [defaultCountry]="'in'" [required]="true"></international-phone-number>
  </ion-row>
  <ion-row class="marTop20 padd10">
    <ion-label>Email</ion-label>
  </ion-row>
  <ion-row class="padd10">
    <ion-input class="input" type="text" name="email" [(ngModel)]="email" placeholder="Email"></ion-input>
  </ion-row>
  <ion-row class="marTop20 padd10">
    <ion-label>Pin Code</ion-label>
  </ion-row>
  <ion-row class="padd10">
    <ion-input class="input" (ionBlur)="getAreaByZipCode()" type="text" name="PinCode" [(ngModel)]="PinCode" placeholder="PinCode"></ion-input>
  </ion-row>

  <ion-row class="marTop20 padd10">
    <ion-label class="label">Street Address</ion-label>
  </ion-row>

  <ion-row class="padd10">
    <ion-input class="input" [(ngModel)]="House" placeholder="House/Flat"></ion-input>
  </ion-row>
  <ion-row class="padd10">
    <ion-input class="input" type="text" name="Area" [(ngModel)]="Area" placeholder="Area"></ion-input>
  </ion-row>

  <ion-row class="marTop20 padd10">
    <ion-label class="label">City</ion-label>
  </ion-row>
  <ion-row class="padd10">
    <ion-input class="input" type="text" name="City" realonly="true" [disabled]="disable" [(ngModel)]="City" placeholder="City"></ion-input>
  </ion-row>
  <ion-row class="marTop20 padd10">
    <ion-label class="label">State</ion-label>
  </ion-row>
  <ion-row class="padd10">
    <ion-input class="input" type="text" name="State" realonly="true" [disabled]="disable" [(ngModel)]="State" placeholder="State"></ion-input>
  </ion-row>
  <ion-row class="marTop20 padd10">
    <ion-label>Country</ion-label>
  </ion-row>
  <ion-row class="padd10" *ngIf="!!selectedCountry">
    <ion-col>
      <app-countryselection class="w100" [selectedValue]="selectedCountry"></app-countryselection>
    </ion-col>
  </ion-row>
  <ion-row class="padd10">
    <ion-col>
      <ion-button *ngIf="!showEditButton" class="fr" (click)="save()" [disabled]="buttonDisabled">
        <ion-spinner *ngIf="buttonDisabled" slot="start"></ion-spinner> Save
      </ion-button>
      <ion-button *ngIf="showEditButton" class="fr" (click)="Update()" [disabled]="buttonDisabled">
        <ion-spinner *ngIf="buttonDisabled" slot="start"></ion-spinner> Save Changes
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid> -->

<!-- <ion-grid *ngIf="onMobile">
  <ion-item-group>
    <ion-item>
      <ion-input required type="text" [(ngModel)]="Name" placeholder="Full Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required type="text" [(ngModel)]="Mobile" type="number" placeholder="Mobile Number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input (ionBlur)="getAreaByZipCode()" required type="text" [(ngModel)]="PinCode" type="number" placeholder="Pin Code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" [(ngModel)]="House" placeholder="House/Flat"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required type="text" [(ngModel)]="Area" placeholder="Area"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required type="text" [(ngModel)]="City" [disabled]="disable" realonly="true" placeholder="City"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input required type="text" [(ngModel)]="State" [disabled]="disable" realonly="true" placeholder="State"></ion-input>
    </ion-item>

    <ion-item>
      <app-countryselection class="w100" [selectedValue]="selectedCountry"></app-countryselection>
    </ion-item>
  </ion-item-group>
  <ion-row>
    <ion-col>
      <ion-button (click)="save()" [expand]="onMobile ? 'block' : ''" *ngIf="!showEditButton" [disabled]="buttonDisabled" >Save <ion-spinner *ngIf="buttonDisabled" slot="start"></ion-spinner></ion-button>
      <ion-button (click)="Update()" [expand]="onMobile ? 'block' : ''" *ngIf="showEditButton" [disabled]="buttonDisabled">Update <ion-spinner *ngIf="buttonDisabled" slot="start"></ion-spinner></ion-button>
    </ion-col>
  </ion-row>
</ion-grid> -->
